@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@bg-white: rgba(255, 255, 255, 0.6);
@bg-black: rgba(0, 0, 0, 0.6);
@text-shadow: 0 0 6px @bg-black;

html, body, #main, #app {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background-position: 50% 50%;
  background-size: cover;
  color: white;
  font-size: 14pt;
  * {
    font-family: 'Roboto Condensed', sans-serif;
  }
}

#app {
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;

  a {
    cursor: pointer;
  }

  .list-simple {
    list-style: none;
    padding: 0;
    margin: 0;

    &.list-suggests {
      position: relative;
      top: -6px;
      background: white;
      color: black;

      li {
        display: block;
        position: relative;
        padding: 6px 12px 6px 2em;
        cursor: pointer;

        &:before {
          position: absolute;
          left: 6px;
        }

        &[data-src='google'] {
          &:before {
            content: '🔍';
          }

          span {
            position: absolute;
            z-index: 999;
            right: 6px;
            color: grey;
          }
        }

        &[data-src='history'] {
          &:before {
            content: '🌐';
          }
        }

        &[data-src='bookmarks'] {
          &:before {
            content: '★';
          }
        }

        &.active, &:hover {
          background-color: @bg-black;
        }
      }
    }
  }
  
  .list-inline {
    li {
      display: inline-block;
      margin: 0 6px;
    }
  }

  .btn {
    &-corner {
      position: absolute;
      top: -9px;
      right: -9px;
      border: 0;
      outline: 0;
      font-size: 12pt;
      padding: 3px 5px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      background: none;
      cursor: pointer;

      &.star {
        color: yellow;
        text-shadow: @text-shadow;
        font-weight: bold;
        font-size: 1.5em;
      }

      &.cross {
        top: 3px;
        right: 0;
        color: red;
        text-shadow: @text-shadow;
        font-weight: bold;
      }
    }
  }

  .img {
    &-responsive {
      width: 100%;
      height: auto;

      &-h {
        width: auto;
        height: 100%;
      }

    }
  }

  .bg-preview {
    margin: 0 -100px;
  }

  .inline {
    display: inline-block;
  }

  .checkbox-group {
    input {
      display: none;
    }

    input ~ label {
      display: block;
      padding: 3px 3px 3px 33px;
      position: relative;
      height: 30px;
      line-height: 30px;
      cursor: pointer;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 3px;
        left: 0;
        height: 30px;
        width: 30px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background: @bg-black;
      }
    }

    input[value="true"] ~ label {
      &::after {
        content: '\25cf';
        display: inline-block;
        position: absolute;
        top: 1px;
        left: 0;
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 30px;
      }
    }
  }

  #options {
    position: relative;
    text-align: right;
    text-shadow: @text-shadow;

    &-popup {
      position: absolute;
      background: @bg-white;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      padding: 12px;
      top: 24px;
      right: 0;
      width: 300px;
      text-align: center;

      & > * {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .list-simple.list-inline {
        li {
          position: relative;
          margin-bottom: 12px;

          .circle {
            width: 60px;
            height: 60px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            overflow: hidden;
            text-align: center;
          }
        }
      }
    }
  }

  #search {
    position: relative;
    width: 40%;
    margin: 0 auto;

    .input-group {
      border-bottom: 6px solid @bg-white;
      height: 50px;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      input {
        display: inline-block;
        width: 100%;
        border: 0;
        background: none;
        height: 50px;
        line-height: 50px;
        padding-left: 12px;
        padding-right: 62px;
        font-size: 14pt;

        &.active, &:focus {
          outline: 0;
          background: @bg-white;
        }

        &:hover {
          background: @bg-white;
        }
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background: none;
        color: @bg-white;
        text-shadow: @text-shadow;
        font-size: 18pt;
        font-weight: bold;
        border: 0;

        &:focus, &:active {
          outline: 0;
        }
      }
    }
  }

  footer {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 12px;

    & > * {
      margin-right: 12px;

      a {
        text-shadow: @text-shadow;
      }
    }

    .menu-collapse {
      display: inline-block;
      position: relative;

      &.right {
        float: right;

        .list-simple {
          right: 0;
        }
      }

      .list-simple {
        position: absolute;
        bottom: 30px;
        background: @bg-white;
        padding: 12px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        width: auto;

        li {
          position: relative;
          display: block;
          height: 30px;
          line-height: 30px;
          white-space: nowrap;
          padding-right: 1em;

          span {
            display: inline-block;
            padding: 3px;
            width: 20px;
          }

          a {
            color: @bg-black;
            font-size: 14pt;
            white-space: nowrap;
            padding: 3px;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#favorites-warning {
  display: none;
}